@import "src/scss/variables";

#menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.app-container {
	position: relative;
	background: $bg-light;
	// background: #e7e7e7;

	overflow-x: hidden;
	cursor: none !important;
}

.cursor {
	stroke: red;
	fill: none;
	stroke-width: 2px;
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	user-select: none;
}
