@import "src/scss/variables";

#menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.app-container {
	position: relative;
	background: linear-gradient(90deg, rgba(34, 34, 34, 1) 0%, rgba(55, 55, 55, 1) 69%, rgba(34, 34, 34, 1) 100%);
	overflow-x: hidden;
}
