@import "src/scss/variables";

.view-container {
	position: relative;
	height: 100vh;
	width: 100vw;
	padding: 0;
	display: grid;
	grid-template-columns: auto auto;
	overflow: hidden;
}

.grid-left {
	position: relative;
	display: flex;
	height: 100%;
}

.grid-right {
	// background-color: $bg-color2;
	display: flex;
	height: 100%;
}

.landing-bg-text {
	display: inline-block;
	align-self: flex-end;
	font-family: $font-roboto;
	text-align: center;
	width: 100%;
	line-height: 80%;
	user-select: none;
}

.text-left {
	color: $bg-color2;
	font-size: 18vw;
}
.text-right {
	color: $bg-color1;
	font-size: 18vw;
}

.landing-intro {
	font-family: $font-montserrat;
	position: absolute;
	top: 40%;
	left: 60%;
}

.landing-headline-primary {
	font-size: 36px;
	color: $color-headline1;
	font-weight: 500;

	.headline2 {
		padding-left: 35px;
	}
}

.landing-headline-secondary {
	font-size: 16px;
	color: $color-headline2;
	padding: 10px;
}

li {
	list-style: none;
	color: $color-headline2;
	font-family: $font-ptsans;
	font-size: 16px;
}
