@import "src/scss/variables";

.view-container {
	position: relative;
	height: 100vh;
	width: 100vw;
	padding: 0;
	overflow: hidden;
}

.landing-content {
	padding: 2vh;
}

.landing-bold {
	color: $color-text-1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5vmax;
	letter-spacing: -0.015em;
	font-weight: 700;
	line-height: 80%;
	// -webkit-text-stroke: 1px black;
	// -webkit-text-fill-color: #e7e7e7;
	// background: blue;
	// background-clip: text;
	// color: transparent;
}

.subtext {
	color: $color-text-1;
	padding-top: 0.5vh;
	font-size: 1.25vmax;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: -0.015em;
}

.copyright {
	margin-top: 10px;
	font-size: larger;
}

li {
	list-style: none;
	padding: 0;
}

.grid-left {
	position: relative;
	display: flex;
	height: 100%;
}

.grid-right {
	display: flex;
	height: 100%;
}

.landing-intro {
	position: absolute;
	top: 40%;
	left: 60%;
}

.headline {
	font-family: $font-montserrat;
	color: $color-headline2;
}

.line-1 {
	font-size: 18px;
	font-weight: 500;
}

.line-2 {
	font-size: 18px;
	font-weight: 500;
}

.line-3 {
	font-size: 36px;
	font-weight: 500;
}

.line-4 {
	padding-left: 35px;
	font-size: 36px;
	font-weight: 500;
}

.line-5 {
	font-size: 16px;
	padding: 10px;
}

.name {
	font-size: 30px;
	font-weight: 500;
	color: $color-theme1;
}
