<div class="view-container">
	<div class="grid-left">
		<div class="landing-bg-text text-left">reese peltier</div>
	</div>
	<div class="grid-right">
		<!-- <div class="landing-bg-text text-right">peltier</div> -->
		<div class="landing-intro">
			<div class="landing-headline-primary">
				<div class="headline1">Software Engineer</div>
				<div class="headline2">& Code Enthusiast</div>
			</div>
			<div class="landing-headline-secondary">Welcome to my online portfolio.</div>
		</div>
	</div>
</div>