<div class="menu-overlay" #menuOverlay>
	<div class="overlay-grid">
		<div class="nav-links">
			<ul>
				<li class="">about</li>
				<li>projects</li>
				<li>work</li>
			</ul>
		</div>
		<div class="overlay-contact">
		</div>
	</div>
</div>
<div class="menu-button">
	<svg class="menu-grid" width="12" height="12" viewBox="0 0 12 12" (click)="toggleMenu()"
		onclick="this.classList.toggle('open')">
		<rect y="10" width="2" height="2"></rect>
		<rect y="5" width="2" height="2"></rect>
		<rect width="2" height="2"></rect>
		<rect x="5" y="10" width="2" height="2"></rect>
		<rect x="5" y="5" width="2" height="2"></rect>
		<rect x="5" width="2" height="2"></rect>
		<rect x="10" y="10" width="2" height="2"></rect>
		<rect x="10" y="5" width="2" height="2"></rect>
		<rect x="10" width="2" height="2"></rect>
	</svg>
</div>